<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        <div>
            @using (Html.BeginForm("AlterarDadosAlterar", "MenuCliente", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    Nome: <input type="text" name="nomeInput" id="nomeInput" value="@ViewBag.nome" required />
                    <br>
                    Password: <input type="password" name="passwordInput" id="passwordInput" />
                    <br>
                    Email: <input type="text" name="emailInput" id="emailInput" value="@ViewBag.email" required />
                    <br>
                    Morada: <input type="text" name="moradaInput" id="moradaInput" value="@ViewBag.morada" required />
                    <br>
                    Telefone: <input type="text" name="telefoneInput" id="telefoneInput" value="@ViewBag.telefone" required />
                </fieldset>
                <input type="submit" value="Alterar" />
                <button type="button" onclick="location.href='@Url.Action("Index","MenuCliente")'">Cancelar</button>
            }
        </div>
    </body>
</html>