<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        <ol>
            <li><button type="button" onclick="location.href='@Url.Action((string)@ViewBag.ListElem1View,(string)@ViewBag.To)'">@ViewBag.ListElem1</button></li>
            <li><button type="button" onclick="location.href='@Url.Action((string)@ViewBag.ListElem2View,(string)@ViewBag.To)'">@ViewBag.ListElem2</button></li>
            <li><button type="button" onclick="location.href='@Url.Action((string)@ViewBag.ListElem3View,(string)@ViewBag.To)'">@ViewBag.ListElem3</button></li>
        </ol> 
    </body>
</html>