<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
            @using (Html.BeginForm("TrackingEncomenda", "Encomenda", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    @ViewBag.Msg<br>
                    <input type="number" name="idEncomenda" id="idEncomenda" required />
                    <br>
                </fieldset>
                <button type="button" onclick="location.href='@Url.Action("Cancelar","MenuCliente")'">Cancelar</button>
                <input type="submit" value="Continuar" />
            } 
    </body>
</html>