<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        @ViewBag.Msg<br><br>
        <button type="button" onclick="location.href='@Url.Action((string)@ViewBag.Func,(string)@ViewBag.File)'">@ViewBag.ButtonName</button>
    </body>
</html>