@model IEnumerable<mvcJJMS.Models.Encomenda>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <style>
            table, th{
                border: 1px solid #000;
                border-collapse:collapse;
            }
        </style>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        <table>
            <tr>
                <th>
                   ID da Encomenda
                </th>
                <th>
                    Estado da Encomenda
                </th>
                <th>
                    Morada de entrega
                </th>
                <th>
                    Avaliação
                </th>
                <th>
                    Custo(€)
                </th>
                <th>
                    Dia de entrega
                </th>
                <th>
                    Hora de entrega
                </th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.EncomendaID)
                    </th>
                    <th>
                        @{
                            switch(item.estado){
                                case 1:
                                    <text>Com o fornecedor</text>
                                    break;
                                case 2:
                                    <text>No centro de distribuição</text>
                                    break;
                                case 3:
                                    <text>Em trânsito</text>
                                    break;
                                default:
                                    <text>Entregue</text>
                                    break;
                            }
                        }
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.destino)
                    </th>
                    <th>
                        @if(item.avaliação==0){
                            <text>NA</text>;
                        }
                        else{ 
                            @Html.DisplayFor(modelItem => item.avaliação)
                        }
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.custo)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.dia)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.hora)
                    </th> 
                </tr>
            }
        </table>
    <br>
    <button type="button" onclick="location.href='@Url.Action("Index","MenuCliente")'">Voltar</button>
    </body>
</html>