<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        @ViewBag.Msg<br>
        @ViewBag.Item1<br>
        @ViewBag.Item2<br><br>
        <button type="button" onclick="location.href='@Url.Action("Index","Registar")'">Ok</button>
    </body>
</html>