<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        <ol>
            <li><button type="button" onclick="location.href='@Url.Action("Requisitar_Encomenda",(string)@ViewBag.To)'">@ViewBag.ListElem1</button></li>
            <li><button type="button" onclick="location.href='@Url.Action("Consultar_Historico",(string)@ViewBag.To)'">@ViewBag.ListElem2</button></li>
            <li><button type="button" onclick="location.href='@Url.Action("TrackingEncomenda",(string)@ViewBag.To)'">@ViewBag.ListElem3</button></li>
            <li><button type="button" onclick="location.href='@Url.Action("Avaliar_Servico",(string)@ViewBag.To)'">@ViewBag.ListElem4</button></li>
            <li><button type="button" onclick="location.href='@Url.Action("Alterar_Dados",(string)@ViewBag.To)'">@ViewBag.ListElem5</button></li>
            <li><button type="button" onclick="location.href='@Url.Action("Index","MenuPrincipal")'">@ViewBag.ListElem6</button></li>
        </ol> 
    </body>
</html>